<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hat.testmarqueen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".ActivityMarqueen"/>
        <activity android:name=".ActivityEditText"/>
        <activity android:name=".ActivityInputType"/>
        <activity android:name=".ActivityAutoCompleteText"/>
        <activity android:name=".ActivityButton"/>
        <activity android:name=".ActivityButtonImg"/>
        <activity android:name=".ActivityRadioButton"/>
        <activity android:name=".ActivityToggleButton"/>
        <activity android:name=".ActivityCheckbox"/>
        <activity android:name=".ActivitySeekbar"/>
        <activity android:name=".ActivityImageView" />
        <activity android:name=".ActivityImageViewCut"/>
        <activity android:name=".ActivityImageViewRotate"/>
        <activity android:name=".ActivityImageViewHttp"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
</manifest>
